@tailwind base;
@tailwind components;
@tailwind utilities;

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 300px; /* Adjust width as necessary */
    background-color: #f9f9f9;
    color: #333;
    text-align: left;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Position the tooltip above the text */
    left: 50%;
    margin-left: -150px; /* Center the tooltip */
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
